@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-form-input {
    @apply w-full px-8 py-3 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white;
}

.custom-form-button {
    @apply mt-5 tracking-wide font-semibold text-gray-100 w-full py-3 rounded-lg hover:bg-purple-800 transition-all duration-300 ease-in-out flex items-center justify-center;
}

.custom-form-error {
    @apply font-semibold text-red-700 text-xs;
}

.primary-text {
    color: #8027C2;
}

.primary-bg {
    background-color: #8027C2;
}

.secondary-text {
    color: #F5E6FF;
}

.secondary-bg {
    background-color: #F5E6FF;
}

.secondary-light-bg {
    background-color: #FBFBFB;
}

/*
custom loading component 
*/

.custom-loading-component .wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
}

.custom-loading-component .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #8027C2;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.custom-loading-component .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.custom-loading-component .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.custom-loading-component .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.custom-loading-component .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.custom-loading-component .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

/*
===================================================
*/